# Entorno virtual
venv/
env/
.env

# Archivos compilados y temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuraciones locales de Streamlit
.streamlit/secrets.toml

# Archivos del sistema y de VS Code
.vscode/
.DS_Store
Thumbs.db